* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}

.App {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: black;

  background: white;
}

.full-screen-tasks {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card img {
  height: "auto";
  width: "100%";
  filter: brightness(0.6) blur(0.3px);
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
